k8s {
   namespace = 'medgen-ns'
   runAsUser = 1000
   storageClaimName = 'pvc-713003-pospisilova-base'
   storageMountPath = '/mnt'
   pod = [ [volumeClaim: 'pvc-713003-pospisilova-cmbg', mountPath: "/cmbg" ]]
   homeDir = '/cmbg/RNA/src'
   launchDir = "${k8s.homeDir}/launch"
   projectDir = "${k8s.homeDir}/project"
   workDir = "${k8s.homeDir}/temp"
   computeResourceType = 'Job'
}

params {
   homeDir = '/cmbg/RNA/src'
   outDirectory = '/cmbg/RNA/data'
   projectDirectory = "${k8s.projectDir}/kamilareblova/rna"
   GTF = '/mnt/references/Homo_sapiens.GRCh38.95.gtf'
   GTF_engs_gene = '/mnt/references/Homo_sapiens.GRCh38.95-gene-engs.txt'
   ref = '/mnt/references/Homo_sapiens/GRCh38/full_only/GRCh38-p10'
   STAR_INDEX = '/mnt/references/STAR2.7.10a'
   GRCh38_gencode_v37_CTAT_lib = '/mnt/references/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir'
   blacklist = '/mnt/references/arriba/blacklist_hg38_GRCh38_v2.5.1.tsv.gz'
   known_fusions = '/mnt/references/arriba/known_fusions_hg38_GRCh38_v2.5.1.tsv.gz'
   protein_domains = '/mnt/references/arriba/protein_domains_hg38_GRCh38_v2.5.1.gff3'
}


executor {
   queueSize = 50
}


process {
   container = 'xreblova/rna:v2'
   shell = ['/bin/bash', '-eo', 'pipefail']
   scratch = true
   executor = 'k8s'
   pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', allowPrivilegeEscalation:false, runAsUser:1000, capabilities:[drop:['ALL']]]], [nodeSelector:'storage=local-ssd']]
   // errorStrategy = { task.exitStatus in [143,137,104,134,139,247, null, ''] ? 'retry' : 'finish' }
   errorStrategy = "finish"
  //  maxRetries = 3
   cpus = 1
   memory = '100GB'

   withLabel: xxs_mem {
      memory = {10.GB * task.attempt * (3/4)}
   }
   withLabel: xs_mem {
      memory = {10.GB * task.attempt * (3/4)}
   }
   withLabel: s_mem {
      memory = {10.GB * task.attempt * (3/4)}
   }
   withLabel: m_mem {
      memory = {10.GB * task.attempt * (3/4)}
   }
   withLabel: l_mem {
      memory = {100.GB * task.attempt * (3/4)}
   }
   withLabel: xl_mem {
      memory = {100.GB * task.attempt * (3/4)}
   }
   withLabel: s_cpu {
      cpus = 1
   }
   withLabel: m_cpu {
      cpus = 4
   }
   withLabel: l_cpu {
      cpus = 8
   }
}
